@font-face {
font-family: 'fontb6ca3e031c88e16339297912e8c6a9c4';
    
    src:    url('https://nomail.com.ua/files/eot/b6ca3e031c88e16339297912e8c6a9c4.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/b6ca3e031c88e16339297912e8c6a9c4.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/b6ca3e031c88e16339297912e8c6a9c4.woff2') format('woff2');
}

@font-face { font-family: 'Maax';  src: local('Maax'), url('https://nomail.com.ua/files/woff/b6ca3e031c88e16339297912e8c6a9c4.woff') format('woff'); }


#maax { font-family:'Maax'; }
.fontb6ca3e031c88e16339297912e8c6a9c4 { font-family: 'fontb6ca3e031c88e16339297912e8c6a9c4'; }


@font-face {
font-family: 'fontdc679db0f3c70f76129eac3b3377ded5';
    
    src:    url('https://nomail.com.ua/files/eot/dc679db0f3c70f76129eac3b3377ded5.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/dc679db0f3c70f76129eac3b3377ded5.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/dc679db0f3c70f76129eac3b3377ded5.woff2') format('woff2');
}

@font-face { font-family: 'Maax-Bold';  src: local('Maax-Bold'), url('https://nomail.com.ua/files/woff/dc679db0f3c70f76129eac3b3377ded5.woff') format('woff'); }


#maaxbold { font-family:'Maax-Bold'; }
.fontdc679db0f3c70f76129eac3b3377ded5 { font-family: 'fontdc679db0f3c70f76129eac3b3377ded5'; }

@font-face {
font-family: 'font787f2fa68e8f2c946b9ee75dea2cb1f4';
    
    src:    url('https://nomail.com.ua/files/eot/787f2fa68e8f2c946b9ee75dea2cb1f4.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/787f2fa68e8f2c946b9ee75dea2cb1f4.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/787f2fa68e8f2c946b9ee75dea2cb1f4.woff2') format('woff2');
}

@font-face { font-family: 'Maax-Italic';  src: local('Maax-Italic'), url('https://nomail.com.ua/files/woff/787f2fa68e8f2c946b9ee75dea2cb1f4.woff') format('woff'); }




#maaxitalic { font-family:'Maax-Italic'; }
.font787f2fa68e8f2c946b9ee75dea2cb1f4 { font-family: 'font787f2fa68e8f2c946b9ee75dea2cb1f4'; }

@font-face {
font-family: 'font0bb960ca1c0f9121c7193238a00a151e';
    
    src:    url('https://nomail.com.ua/files/eot/0bb960ca1c0f9121c7193238a00a151e.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/0bb960ca1c0f9121c7193238a00a151e.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/0bb960ca1c0f9121c7193238a00a151e.woff2') format('woff2');
}

@font-face { font-family: 'Maax-Black';  src: local('Maax-Black'), url('https://nomail.com.ua/files/woff/0bb960ca1c0f9121c7193238a00a151e.woff') format('woff'); }


#maaxblack { font-family:'Maax-Black'; }
.font0bb960ca1c0f9121c7193238a00a151e { font-family: 'font0bb960ca1c0f9121c7193238a00a151e'; }


@font-face {
font-family: 'font01c20d3991de7db92d4f20132e1b3c7f';
    
    src:    url('https://nomail.com.ua/files/eot/01c20d3991de7db92d4f20132e1b3c7f.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/01c20d3991de7db92d4f20132e1b3c7f.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/01c20d3991de7db92d4f20132e1b3c7f.woff2') format('woff2');
}

@font-face { font-family: 'MyriadPro-Regular';  src: local('MyriadPro-Regular'), url('https://nomail.com.ua/files/woff/01c20d3991de7db92d4f20132e1b3c7f.woff') format('woff'); }



#myriadproregular { font-family:'MyriadPro-Regular'; }
.font01c20d3991de7db92d4f20132e1b3c7f { font-family: 'font01c20d3991de7db92d4f20132e1b3c7f'; }

@font-face {
font-family: 'font82003b194078e5a413d51c5192391d40';
    
    src:    url('https://nomail.com.ua/files/eot/82003b194078e5a413d51c5192391d40.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/82003b194078e5a413d51c5192391d40.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/82003b194078e5a413d51c5192391d40.woff2') format('woff2');
}

@font-face { font-family: 'MyriadPro-Bold';  src: local('MyriadPro-Bold'), url('https://nomail.com.ua/files/woff/82003b194078e5a413d51c5192391d40.woff') format('woff'); }



#myriadprobold { font-family:'MyriadPro-Bold'; }
.font82003b194078e5a413d51c5192391d40 { font-family: 'font82003b194078e5a413d51c5192391d40'; }